html,
body {
	height: 100%; /* Height of the browser. */
}

#cover {
	background: #222 url("../img/stars.jpg") center center no-repeat;
	background-size: cover;
	color: #fff;
	height: 100%;
	text-align: center;
	/* Use flexbox to center all items vertically and horizontally: */
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%; /* Also need this to help with centering. */
}

form {
	width: 55%;
	margin: 0 auto;
}

.form-group {
	margin-right: 5px;
}

.down-arrow {
	color: #fff;
	border-color: #fff;
}